{% extends "admin-base-layout.html" %}
{% block head %}
<title>Add Book</title>
{% endblock head %}

{% block content %}
    <div class="container-lg">
        <div class="row justify-content-center" style="margin: 125px 200px;">
            <div class="col-9">
                <div class="card border-2">
                    <div class="card-body">
                        <div class="text-center">
                            <h1 class="card-title">Add a Book to the Library</h1>
                        </div>

                        <form action="/admin/books/add" method="POST" id="add-book-form" enctype="multipart/form-data">
                            {{form.hidden_tag()}}
                            <div class="m-4">
                                <div>
                                    {{ form.name.label(class = "form-label my-3") }}
                                    {{ form.name(class = "form-control") }}
                                </div>

                                <div>
                                    {{ form.author.label(class = "form-label my-3") }}
                                    {{ form.author(class = "form-control") }}
                                </div>

                                <div>
                                    {{ form.genre.label(class = "form-label my-3") }}
                                    {{ form.genre(class = "form-control") }}
                                </div>

                                <div>
                                    {{ form.price.label(class = "form-label my-3") }}
                                    {{ form.price(class = "form-control") }}
                                </div>

                                <div>
                                    {{ form.description.label(class = "form-label my-3") }}
                                    {{ form.description(class = "form-control") }}
                                </div>

                                <div>
                                    {{ form.file.label(class = "form-label my-3") }}
                                    {{ form.file(class = "form-control") }}
                                </div>

                                <div>
                                    {{ form.cover_pic.label(class = "form-label my-3") }}
                                    {{ form.cover_pic(class = "form-control") }}
                                </div>
                            </div>
                            {{ form.submit(class = "btn btn-primary m-4")}}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
