nav {
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

.logo a {
    margin-left: 40px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.nav-links a {
    display: inline-block;
    margin: 20px;
    font-size: 17px;
}