{% extends "user-base-layout.html" %}
{% block head %}
<title>{{ genre.name.capitalize() }} Books</title>
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/user/book-display.css') }}">
{% endblock head %}

{% block content %}
    <!-- <div class="container-lg">
        <div class="card bg-info-subtle mt-5" style="width: 100%;">
            <div class="card-body">
            <h1>The Complete Collection of all {{ genre.name.capitalize() }} Books in our Catalogue</h1>
            </div>
        </div>
    </div> -->

    {% for row in rows %}
      <div class="row m-5">
        <div class="card-container">
            {% for book in row %}
                <div class="card">
                    <img src="/static/covers/{{book.cover_pic}}" width="100%">
                    <div class="card-content">
                        <div class="details">
                            <h4>{{book.name}}</h4>
                            <p>{{book.author}}</p>
                        </div>
                        <a href="/books/{{book.id}}" class="btn btn-primary">See More</a>
                    </div>
                </div>
            {% endfor %}
        </div>
      </div>
    {% endfor %}
{% endblock content %}